.quemSomos {
    height: 90vh; 
    display: flex;
    background-image: url(../../assets/backgroundQuemSomos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: flex-end; 
    align-items: center;
    
}

.boxTexto {
    width: 42%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    h1 {
        color: #205691;
        font-size: 2.5rem;
        width: 70%;
    }

    p {
        font-size: 1.5rem;
        width: 85%;
    }
}


@media (min-width: 201px) and (max-width: 500px) {

    .quemSomos {
        background-image: none;
        justify-content: center;   
        align-items: center;      
    }

    .boxTexto {
        width: 100%;
        align-items: center; 
        text-align: center;
    

     h1 {
        width: 95%;
        font-size: 1.6rem;
    }

     p {
        width: 95%;
        font-size: 0.95rem;

    }
    }
    
}
