.quemSomos {
    height: 90vh;
    display: flex;
    background-image: url(../../assets/backgroundQuemSomos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: flex-end;
    align-items: center;
}
.boxTexto{
    width: 42%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h1{
        color: #205691;
        font-size: 2.5rem;
        width: 70%;
    }
    p{
        font-size: 1.5rem;
        width: 85%;
    }
}