.containerDeAcoes {}

.containerCardsDeAcoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tituloAcoes {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  h2 {
    color: #205691;
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
  }
}

.cardsDeAcoes {
  width: 28%;
  height: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 1rem;

  img {
    height: 15vh;
  }

  h2 {
    color: #122F97;
    font-size: 1.5rem;
  }

  p {
    width: 80%;
  }

  button {
    background-color: #205691;
    font-size: 1.2rem;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
}

@media (min-width: 201px) and (max-width: 500px) {
  .containerDeAcoes {
  }

  .tituloAcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;

    h2 {
      font-size: 2rem;
      color: #122F97;
    }

    p {
      font-size: 1rem;
      width: 80%;
    }
  }

  .containerCardsDeAcoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .cardsDeAcoes {
    width: 70%;
    // height: 45vh;


    img {
      width: 90%;
    }

    h2 {
      font-size: 1.2rem;

    }

    p {
      // border: solid;
      width: 80%;
      font-size: 0.85rem;
    }

    button {
      font-size: 1rem;
      padding: 0.5rem 1rem;

    }
  }
}