.containerTelaPerfil {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    article {
        border: solid #EFEEEA;
        border-radius: 16px;
        height: 50vh;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    img {
        height: 30vh;
        border: 5px solid #00AAFF;
        border-radius: 100%;
    }
}

.cardInfo {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    text-align: center;

    h2 {
        font-size: 1.85rem;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 400;
        color: #278733;
    }

    .paragrafoSobreMim {
        text-align: center;
        width: 80%;
    }
}

address {
    display: flex;
    justify-content: space-between;
    width: 60%;

    p {
        font-size: 0.85rem;
    }
}

.listaInteresses {
    width: 70%;
    display: flex;
    justify-content: space-evenly;

    li {
        color: #278733;
        font-size: 0.82rem;
        font-weight: 600;
        background-color: #D4E7D6;
        padding: 0.8rem;
        border-radius: 10px;
    }
}



@media (min-width: 201px) and (max-width: 500px) {

    .containerTelaPerfil {
        height: 100vh;

        article {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100vh;
        }

        .cardInfo {
            width: 100%;
            height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        address {
            width: 95%;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            height: 15vh;
        }

        .listaInteresses {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    }
}