.containerTelaPerfil {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    article {
        border: solid #EFEEEA;
        border-radius: 16px;
        height: 50vh;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    img {
    height: 30vh;
    border: 5px solid #00AAFF;
    border-radius: 100%;

}
}



.cardInfo {
    width: 60%;
    height: 80%;                    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.cardInfo {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;

    h2 {
        font-size: 1.85rem;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 400;
        color: #278733;
    }

    .paragrafoSobreMim {
        text-align: center;
        width: 80%;
    }
}

address {
    display: flex;
    justify-content: space-between;
    width: 60%;

    p {
        font-size: 0.85rem;
    }
}

.listaInteresses {
    width: 70%;
    display: flex;
    justify-content: space-evenly;

    li {
        color: #278733;
        font-size: 0.82rem;
        font-weight: 600;
        background-color: #D4E7D6;
        padding: 0.8rem;
        border-radius: 10px;
    }
}