.principal {

    display: flex;
    justify-content: space-evenly;
    height: 90vh;

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 40vw;

    }

    h1 {
        color: #205691;
        font-size: 5.5rem;
    }

    p {
        color: #205691;
        font-weight: 500;
        font-size: 1.5rem;
    }
}

.ImgInicial {
    width: 40vw;
}

@media (min-width: 201px) and (max-width:500px) {
    .principal {
        flex-direction: column;
        align-items: center;

        div {
            width: 90%;
            height: 30vh;
            text-align: center;
            align-items: center;


            h1 {
                font-size: 2rem;
                width: 80%;
            }

            p {
                font-size: 1rem;
            }
        }

        .ImgInicial {
            border-radius: 100%;
            width: 70%;
        }

    }
}