.navBar {
    display: flex;
    background-color: #205691;
    justify-content: space-around;
    align-items: center;
    height: 15vh;

    ul {
        display: flex;
        width: 60%;
        justify-content: space-between;

    }

    a {
        color: white;
        font-size: 1.75rem;
    }

}