footer {
    background-color: #205691;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudoFooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    color: #ffffff;
}
.textoFooter {
    color: #ffffff;
    display: flex;
    align-items: center;
    width: 30%;
    text-align: center;
}
.redesSociais {
    display: flex;
    width: 15%;
    justify-content: space-around;
    height: 5vh;
    
}
@media (min-width: 201px) and (max-width: 500px){
    footer {
        flex-direction: column-reverse;
        height: 40vh;
        align-items: center;
        justify-content: space-around;

        .conteudoFooter {
            width: 60%;
            
            h2 {
                font-weight: 400;
            }
        }
    }
    .textoFooter {
        width: 90%;
        font-size: 0.75rem;
        font-weight: 400;
    }

    .redesSociais {
        width: 80%;
    }
}